<div class="container card-publication p-5 mt-5">
    <h1>Editing Publication</h1>

    <%= render 'form', publication: @publication %>
    
    <%= link_to 'Show', @publication %> |
    <%= link_to 'Back', publications_path %>
    
</div>
