<div class="container my-5">
    <div class="container form-div p-5">
        <h1 class="text-center mb-5">New Publication</h1>

        <%= render 'form', publication: @publication %>

        <div class="mt-5">
            <%= link_to 'Back', publications_path %>
        </div>
    </div> 

   
</div>
