<h1>Dashboard</h1>

<div><p>Total usuarios registrados: <%= User.count %>
</p></div>




<%= line_chart @usuarios_registrados_por_dia, title: 'Usuarios por dia' %>

<!-- <div >
    <h3 class="mt-5">Listado regiones:</h3>
    <ul id="regions"></ul>
</div> -->





