* {
  margin: 0;
  padding: 0;
}

// ESTILOS PAGINA EN GENERAL
body {
  background-color: #f2f3f4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h3{
  font-family: 'Cabin', sans-serif;
}

.card-publication {
  background-color: rgb(226, 218, 218);
  border-radius: 3em;
}

.content {
  flex: 1;
}

// NAVBAR

.nav-personal-style {
  background-color: rgb(14, 14, 95);
  filter: opacity(50%);
  font-weight: bold;
  font-size: 1.5rem;
}

// HEADER

.home-header {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.header-content{
  align-items: center;

}

.img-portada{
  width: 80%;
  border-radius: 5%;
  filter: drop-shadow(8px 8px 10px rgb(208, 209, 255));
}


.title-div,
.img-title-div,
.img-aboutUs,
.text-aboutUs {
  width: 45%;
}

// PUBLICATIONS
.images-show {
  width: 300px;
  height: 300px;
}

.images-index {
  width: 200px;
  height: 200px;
}

// FOOTER
