* {
  margin: 0;
  padding: 0;
}

// ESTILOS PAGINA EN GENERAL
body {
  background-color: #f2f3f4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h3{
  font-family: 'Cabin', sans-serif;
}

h5{
  font-family: 'Quicksand', sans-serif;
}

.card-publication {
  background-color: rgb(226, 218, 218);
  border-radius: 3em;
}

.content {
  flex: 1;
}

// NAVBAR

.nav-personal-style {
  background-color: rgb(14, 14, 95);
  filter: opacity(75%);
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}

// HEADER

.home-header {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  width: 100vw;
  height: 80vh;
  text-align: left;
  display: flex;
  align-items: center;
}

.header-content{
  align-items: center;
  justify-content: center;
}

.img-portada{
  width: 100%;
  border-radius: 5%;
  filter: drop-shadow(8px 8px 10px rgb(255, 255, 255));
}


// SECTION ABOUT

.about{
  width: 100vw;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.img-about{
  width: 90%;
}

.about-content{
  align-items: center;
  width: 100%;
}

// MAIN SECTION HOME DESTINOS

.destinos{
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscador-region{
  justify-content: left;
}

// PUBLICATIONS
.images-show {
  width: 300px;
  height: 300px;
}

.images-index {
  width: 100%;
 
}

// FOOTER
